<!DOCTYPE html>
<html lang="en"l>
<head>
<title>Canvas Kicks</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<style>
    p {
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img height="150px" width="300px" src="/assets/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="prevWorks.html">Completed Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="resume.html">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="messageme.html">Message me!</a>
            </li>
        </ul>
    </div>
</nav>

<p>
    About the Artist <br><br>
    <img src="/assets/chrees.png"><br><br>
    My name is Theresa Torraca, and I have been passionate about art for as long as I can remember.
    Canvas Kicks started in the summer of 2018, when I bought my first pair of converse high-tops. I
    remember the excitement of buying, painting, and wearing the original sunflower shoes, and it has
    led me to paint just about any clothing that I can. After painting customized items for family and
    friends, my work began to grab the attention of others: I would receive a lot of compliments and
    questions about where I found such a piece, which always made my day. I love the look of surprise
    when I tell them it’s hand painted and answering their inquiries about the process. Seeing a desire
    for unique pieces, Canvas Kicks was born. Canvas Kicks became a collaborative platform for
    bringing people’s visions to life on something they could be proud to wear. It all starts with a simple “I
    have this idea…” and through a series of iterative sketches, we can create beautiful and meaningful work. <br><br>

    Each piece has a story, and I would like to share some of them with you. <br><br>

    <img src="/assets/sail_transparent.png"> <br><br>

    This pair was brought to me as an old beat up pair of high tops, with the customer hoping they could
    be revived into something new and unique. Therefore I painted the whole surface of these shoes,
    and now they’re as good as new! <br><br>

    <img src="/assets/centaurs.JPG"> <br><br>

    This 4ft x 5ft painting was particularly fun for me as it is the largest canvas I have ever worked on. It
    was requested by a set of roommates who wished to be depicted nobly as an army in battle to hang
    above their fireplace. <br><br>

    <img src="/assets/skiing_cat_m.png"> <br><br>

    This order was a Christmas gift between two co-workers who recently switched to different
    companies. They asked me to make an inside joke of theirs into cute and fun holiday surprise. <br><br>

</p>

</body>
</html>